* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

nav{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 

}
header {
    margin-bottom:35px;
    height: 79px;
}
.logoSite {
    padding : 30px 50px  30px  0px;
}
.logoSite img{
    width: 61.09px;
    height: 19px;
 
}
.liens {
    width: 300px;
    height: 35px;
    margin-bottom: 44px;
  
    
       
}
.liens a{
    padding : 0px 25px 0px 25px ;
    justify-content: flex-end;
  
  
}


.LienBleu{
    color: #0065FC ;
   
 }
 .LienBleu:hover {
     border-top : 1px #0065FC solid ; 
     padding-top: 9px;
 }

 h1 {
    font-weight: 700;
    font-size: 22px; 
    margin-bottom: 8px;
    margin-top: 0;
 }
p {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.BarreRecherche {
    width: 330px;
    height: 49px ;
    padding-bottom: 35px;
    padding-top: 35px;
}
.BarreRecherche input {
    width : 307px;
    height: 49px;
    border-radius:0 15px 15px 0 ;
    border: 1px #F2F2F2 solid ;
    font-weight: 700;
    font-size: 18px;
   color: black;
    position: relative;
    left : 50px
   
}


.BarreRecherche .IconLocalisation {
    position :relative ;
    background-color: #F2F2F2;
    border-left: 1px #F2F2F2 solid;
    bottom : 53.50px;
    left : 0px ;
    width: 50px;
    height: 53px;
    border-radius: 15px 0px 0px 15px ;
    z-index: 1;
}
.BarreRecherche .IconLocalisation .fa-location-dot {
    width: 14px;
    height: 18px;
    color: black ;
    position : relative ;
    left : 50% ;
    top : 50% ;
    transform:translate(-50%, -50%) ;
    }
    .BarreRecherche input{
        padding-left: 24px;
    }

::placeholder {
    color:black;
    opacity: 1;
    margin-left: 24px;
}
.cta{
    color : white ;
    font-weight: 700;
    font-size: 18px;
    background-color: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0px 15px 15px 0px;
    padding: 14px 16px 15px 16px;
    position: relative;
    bottom : 91px;
    left : 250px ;
    z-index: 2;
    }
.ContainerUn {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap : 15px ;
   padding-bottom: 37.5px;
   }

   h2 {
        height: 21px;
        margin : 10px 10px 20px 0px;
     }

   .Filtre{
    border-radius: 25px;
    border: 2px #d9d9d9 solid;
    padding :12px 19px 12px 19px  ;
    font-weight: 700;
    font-size: 17px;
    align-items: center;
    flex-wrap: nowrap;
   }
   .Filtre:hover {
    background-color: #DEEBFF;
   }
   
   .Filtre .fa-solid {
    width: 22px;
    height: 22px;
   }

  
   .fa-info {
    border: #F2F2F2 1px solid;
    border-radius: 90px ;
    padding : 3px 8px 3px 8px;
   }
   

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AfficherPlus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700; 
    padding-top : 30px;
    
}
.hebergement-cards{
    display: flex;
    justify-content: space-around;
    gap : 30px;
    align-items: center;
}

.hebergement-cards .card{
    width: 100%;
    height: 197px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    box-sizing: border-box;
}
.hebergement-cards img{
    width: 97.5%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    border : 5px solid white ;
}
.hebergement-cards .card-content {
    width: 240px;
    height: 64px;
    padding: 0px 15px 0px 15px;
    gap : 8px ; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergement-cards .card-subtitle {
    margin: 0;
    padding : 0;
}

.hebergement-cards .card-rating {
    margin-bottom:5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border : 5px solid white ;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
.Activités {
    width: auto;
    height: 559px;
    padding: 30px;
    gap : 30px ;
}
.Activités-cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap : 30px;
    align-items: center; 
}
.Activités h2 {
    font-weight: 700;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.Activités .card-content {
    width: 307px;
    height: 20px;
    padding : 5px 19px 20px 19px ;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    box-sizing: border-box;
}
.Activités h3 {
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.Activités .card {
    height: 439px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Activités img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

footer .container-footer {
   flex-basis: 100% ;
  order : 1 ; 
}
.footer-col {
    width: 30%;
    height: 163px;
    padding : 20px ;
    gap: 15px;
    background-color: #F2F2F2;

}
.footer-col h4 {
   font-size: 18px;
   font-weight: 700;
   gap : 15px ;
   margin : 0 0 0 0
}
.footer-col li {
   font-size: 16px; 
   font-weight: 400;
   margin-bottom: 15px;
}
.row{
  display: flex;
  flex-direction: row;
    background-color: #F2F2F2;
  
}
 footer ul {
    list-style: none;
    padding : 0px 0px 0px 0px;

}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media (min-width : 767px){
    .fa-magnifying-glass{
    display: none;
   }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .Filtre{
        height: 33px;
        padding: 12px 10px 1px 19px;
    }
    .ContainerUn{
        display: grid;
        grid-template-columns: 167px 131px 164px 161px;
        grid-template-rows: 50px 50px ;
  
      }
     .G{
        height: 33px;
     }
      .Titre {
       grid-column: 1/5; 
       grid-row: 1/2;
     }
     .Filtre .FiltreEconomie{
      grid-column: 1/2; 
      grid-row: 2/3;
     }
     .Filtre .FiltreFamilial{
      grid-column: 2/3; 
      grid-row: 2/3;
     }
     .Filtre .FiltreRomantique{
      grid-column: 3/4; 
      grid-row: 2/3;
     }
     .Filtre .FiltreRomantique{
      grid-column: 4/5; 
      grid-row: 2/3;
     }
  
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .hebergements {
        width: 100%;
        margin-top: 50px;
    }
    .hebergement-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .hebergement-cards .card-title{
        font-size: 14px;
    }
    .hebergement-cards .card-subtitle{
        font-size: 13px;
    }
    .hebergement-cards .card{
        padding-top: 0px;
    }
    .populaire-cards .card{
        padding-top: 0px;
    }
    .Activités-cards{
        width: 1024px;
        flex-direction: row ;
        justify-content: space-between;
    }
    .Activités-cards .card {
         width: 100%;
        height: 270px;
    }
   .Activités img{
        height: 200px;
    }
    .Activités .card-title {
        font-size: 14px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    padding: 0;
    margin: 0;
        }
    .main-container {
        margin: 0;
        padding: 0;
    }
    .logoSite {
            padding : 30px 156px  30px  156px;
        }
    .liens {
        display: flex;
        font-size: 16px;
        
    }
    header {
        height: 75px;
        padding-bottom: 30px;
    }
       
  
    .GroupeInfos{
        padding : 0px 20px 0px 20px ;
    }
    .Filtre{
        height: 33px;
        padding: 12px 10px 1px 19px;
    }
    .ContainerUn{
      display: grid;
      grid-template-columns: 162.5px 162.5px ;
      grid-template-rows: 50px 50px 50px;
      gap : 10px ;
    }
   .G{
      height: 33px;
   }
    .Titre {
     grid-column: 1/3; 
     grid-row: 1/2;
   }
   .Filtre .FiltreEconomie{
    grid-column: 1/2; 
    grid-row: 2/3;
   }
   .Filtre .FiltreFamilial{
    grid-column: 2/3; 
    grid-row: 2/3;
   }
   .Filtre .FiltreRomantique{
    grid-column: 1/2; 
    grid-row: 3/4;
   }
   .Filtre .FiltreRomantique{
    grid-column: 2/3; 
    grid-row: 3/4;
   }


   
   .Loupe .fa-solid{
        color : white ;
        background-color: #0065FC;
        border: #0065FC solid 1px;
        border-radius: 15px 15px 15px 15px;
        padding: 15px 17px 15px 17px;
        position: relative;
        bottom : 103px;
        left : 284px ;
        z-index: 2;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
    }
    .BarreRecherche input {
        width : 260px;
       
    }
   .hebergements-and-populaires {
        flex-direction:column-reverse ;
        gap : 15px;
    }
    
    .hebergements-and-populaires .hebergements{
        background-color: white
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 20px;

    }
    .populaires-cards .card {
        margin-top: 15px;
    }
   
  
   .populaires{
        padding: 30px 20px 30px 20px ;
        gap : 15px;
    }
   .hebergements {
        padding: 20px;
        gap : 15px ;
        margin-top: 0px;
    }
   .populaires-cards {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-between;
    }
    
   .populaires-cards a {
       width: 100%;
    }
    
    .hebergement-cards {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-between;
       gap : 15px ;
       padding-top: 15px;
    }
    .hebergement-cards .card {
        margin: 0px ;
    }
   .hebergement-cards a {
       width: 100%;
       gap: 15px;
    }
   .Activités-cards{
    width: 100%;
       flex-direction: column;
       justify-content: space-between;
    }
    .Activités-cards .card {
       width: 100%;
       height: 200px;
    }
    .Activités img{
        height: 141px;
    }
    .cta{
        display: none;
    }
    .liens {
        width: 100%;
        height: 36px;
        margin-bottom: 44px;
        border-bottom: #F2F2F2 2px solid ;
       
    }
    .LienBleu{
        width: 90%;
        margin-left:  0px;
        padding-left: 25px;

    }
    .LienBleu:hover {
        border-top: none;
        padding-top: 0;
      border-bottom: #0065FC 2px solid;
    }
    .LienGris{
        width: 70%;
        margin-left: 20px;
    }
    
    .container-footer .row {
        margin-top: 450px;
        flex-direction: column;
        width: 100%;
        
       
    }  
    .footer-col {
        width : 80%
    }
    /* ... */
}


