* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 

}
header {
    margin-bottom:35px;
}
.logoSite img {
    width: 61.09px;
    height: 19px;
    padding : 30px,50px , 30px , 50px;
}
.liens a{
    width: 244px;
    height: 35px;
    padding-left: 25px;
    padding-right: 25px;
}
.LienBleu{
    color: #0065FC ;
 }
 .LienBleu:hover {
     border-top : 1px #0065FC solid ; 
     padding-top: 9px;
 }

 h1 {
    font-weight: 700;
    font-size: 22px; 
 }
p {
    padding: 0px 0px 15px 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.BarreRecherche input {
     width : 377px;
     height: 49px;
    border-radius: 15px ;
    border: 1px #F2F2F2 solid ;
    
}
.BarreRecherche .IconLocalisation {
    position :relative ;
    background-color: #F2F2F2;
    border-left: 1px #F2F2F2 solid;
    bottom : 53.50px;
    left : 0px ;
    width: 50px;
    height: 53px;
    border-radius: 15px 0px 0px 15px ;
    z-index: 1;
}
.BarreRecherche .IconLocalisation .fa-location-dot {
    width: 14px;
    height: 18px;
    color: black ;
    position : relative ;
    left : 50% ;
    top : 50% ;
    transform:translate(-50%, -50%) ;
}
.cta{
    color : white ;
    font-weight: 700;
    font-size: 18px;
    background-color: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0px 15px 15px 0px;
    padding: 14px 16px 15px 16px;
    position: relative;
    bottom : 91px;
    left : 250px ;
    z-index: 2;
    }
   .ContainerUn {
    width: 758px;
    height: 50px;
     display: flex;
     justify-content: space-between;
     padding: 0px 0px 30px 0px;
     }

     h2 {
        height: 21px;
        margin : 10px 10px 20px 0px;
     }

   .Filtre{
    border-radius: 25px;
    border: 2px #d9d9d9 solid;
    padding :8px 10px 0px 10px  ;
    font-weight: 700;
    font-size: 20px;
   }
   .Filtre:hover {
    background-color: #DEEBFF;
   }
   .Filtre .fa-money-bill-wave {
    padding-right: 5px;
   }

   .Filtre .fa-person {
    padding-right: 5px;
   }

   .Filtre .fa-heart {
    padding-right: 5px;
   }

   .Filtre .fa-fire {
    padding-right: 5px;
   }
   





a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AfficherPlus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700; 
    padding-top : 30px;
    
}
.hebergement-cards{
    display: flex;
    justify-content: space-around;
    gap : 30px;
    align-items: center;
}

.hebergement-cards .card{
    width: 100%;
    height: 197px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}
.hebergement-cards img{
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
}
.hebergement-cards .card-content {
    width: 240px;
    height: 64px;
    padding: 0px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergement-cards .card-subtitle {
    margin: 0;
}

.hebergement-cards .card-rating {
    margin-bottom:5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
.Activités {
    width: auto;
    height: 559px;
    padding: 30px;
    gap : 30px ;
}
.Activités-cards{
    display: flex;
    justify-content: space-around;
    gap : 30px;
    align-items: center; 
}
.Activités h2 {
    font-weight: 700;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.Activités .card-content {
    width: 307px;
    height: 20px;
    padding : 5px 19px 20px 19px ;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    box-sizing: border-box;
}
.Activités h3 {
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.Activités .card {
    width: 297px;
    height: 439px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Activités img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
footer {
    width: 1340px;
    height: 163px;
    background-color: #F2F2F2;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .LienBleu {
        border-bottom: 1px #0065FC solid ; 
        padding-top: 9px;
    }
    .BarreRecherche .fa-magnifying-glass {
        
    }
    
    /* ... */
}

