* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header {
  margin-bottom: 35px;
  height: 79px;
}

.logo {
  padding: 30px 50px 30px 0px;
}

.logoSite img {
  width: 61.09px;
  height: 19px;
}

.liens {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding-bottom: 60px;
}

.LienBleu:hover {
  border-top: 1px #0065fc solid;
  padding-top: 9px;
  color: #0065fc;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 8px;
  margin-top: 0;
}
p {
  padding: 0;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.BarreRecherche {
  width: 330px;
  height: 100%;
  padding-bottom: 35px;
  padding-top: 35px;
  display: flex;
}
.BarreRecherche input {
  width: 307px;
  height: 49px;
  border-radius: 0 15px 15px 0;
  border: 1px #f2f2f2 solid;
  font-weight: 700;
  font-size: 18px;
  color: black;
  position: relative;
  left: 70px;
}
.BarreRecherche .IconLocalisation {
  position: relative;
  background-color: #f2f2f2;
  border-left: 1px #f2f2f2 solid;
  right: 230px;
  width: 50px;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  z-index: 1;
}
.BarreRecherche .IconLocalisation .fa-location-dot {
  width: 14px;
  height: 18px;
  color: black;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 15px 10px 15px;
}
.BarreRecherche input {
  padding-left: 24px;
}

form {
  position: relative;
  right: 40px;
}

::placeholder {
  color: black;
  opacity: 1;
  margin-left: 24px;
}
button.Rechercher {
  color: white;
  font-weight: 700;
  font-size: 18px;
  background-color: #0065fc;
  border: 1px #0065fc solid;
  border-radius: 0px 15px 15px 0px;
  padding: 13px 16px 13px 16px;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.Loupe {
  position: relative;
  right: 30px;
}

h2 {
  height: 21px;
  margin: 10px 10px 20px 0px;
}
.ContainerUn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 37.5px;
}
G.Titre {
  width: 4%;
}

.Filtre {
  border-radius: 25px;
  border: 2px #d9d9d9 solid;
  padding: 12px 19px 12px 19px;
  font-weight: 700;
  font-size: 17px;
  align-items: center;
  flex-wrap: nowrap;
}
.Filtre:hover {
  background-color: #deebff;
}

.Filtre .fa-solid {
  width: 22px;
  height: 22px;
}
.filtres {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.fa-info {
  border: #f2f2f2 1px solid;
  border-radius: 90px;
  padding: 3px 8px 3px 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.infos {
  margin-bottom: 37.5px;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AfficherPlus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding-top: 30px;
  font-size: 18px;
}

.hebergement-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hebergement-cards a {
  width: 30%;
}

.hebergement-cards .card {
  width: 100%;
  height: 197px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  box-sizing: border-box;
}

.hebergement-cards img {
  height: 114px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  border: 5px solid white;
}

.hebergement-cards .card-content {
  width: 100%;
  height: 64px;
  padding: 0px 5px 0px 10px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.hebergement-cards .card-contentAuberge {
  width: 100%;
  height: 64px;
  padding: 0px 5px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.hebergement-cards .card-contentAuberge .card-title {
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 15px;
}
.hebergement-cards .card-contentAuberge .card-subtitle {
  font-size: 15px;
}
.hebergement-cards .card-contentAuberge .card-rating {
  margin-bottom: 1px;
}

.hebergement-cards .card-title {
  margin-top: 2px;
  margin-bottom: 4px;
}

.hebergement-cards .card-subtitle {
  margin: 0;
  padding: 0;
}

.hebergement-cards .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 30px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 5px solid white;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.Activités {
  width: auto;
  height: 559px;
  padding-top: 30px;
  gap: 30px;
  padding-left: 30px;
}

.Activités-cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}

.Activités h2 {
  font-weight: 700;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 30px;
}

.Activités .card-content {
  width: 100%;
  height: 20px;
  padding: 5px 19px 20px 19px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  box-sizing: border-box;
}

.Activités h3 {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.Activités .card {
  height: 439px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Activités img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cardactivité {
  width: 25%;
  height: 297px;
}

footer .container-footer {
  flex-basis: 100%;
  order: 1;
}

.footer-col {
  width: 30%;
  height: 163px;
  padding: 20px;
  gap: 15px;
  background-color: #f2f2f2;
}

.footer-col h4 {
  font-size: 18px;
  font-weight: 700;
  gap: 15px;
  margin: 0 0 0 0;
}

.footer-col li {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

footer ul {
  list-style: none;
  padding: 0px 0px 0px 0px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .G.Titre {
    width: 90%;
    margin-bottom: 20px;
  }
  .Filtre {
    height: 33px;
    padding: 12px 19px 1px 19px;
    font-size: 16px;
  }
  .filtres {
    width: 100%;
    gap: 7px;
  }
  .ContainerUn {
    width: 100%;
  }

  .G {
    height: 33px;
  }

  .infos {
    margin-bottom: 0;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .hebergements {
    width: 100%;
    margin-top: 50px;
  }

  .hebergement-cards {
    display: flex;
    flex-direction: row;
  }

  .hebergement-cards .card-title {
    font-size: 14px;
  }

  .hebergement-cards .card-subtitle {
    font-size: 13px;
  }

  .hebergement-cards .card {
    padding-top: 0px;
  }

  .populaire-cards .card {
    padding-top: 0px;
  }

  .Activités {
    height: 375px;
  }

  .Activités .card-content {
    width: 85%;
    padding-left: 3px;
  }

  .Activités-cards {
    width: 400px;
    flex-direction: row;
    justify-content: space-between;
  }

  .Activités-cards .card {
    width: 100%;
    height: 270px;
  }

  .Activités img {
    height: 200px;
  }

  .Activités .card-title {
    font-size: 14px;
  }

  .Activités-cards {
    gap: 30px;
    display: flex;
    width: 100%;
  }

  .Activités-cards .card {
    height: 270px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    padding: 0;
    margin: 0;
  }

  .main-container {
    margin: 0;
    padding: 0;
  }

  .logo {
    width: 100%;
    height: 45px;
    padding-right: 0;
  }
  .logoSite {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: center;
  }

  .boxliens {
    width: 100%;
    font-size: 16px;
  }
  .liens {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 0;
  }
  .lienbleu {
    width: 100%;
  }
  .LienBleu {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  .LienBleu:hover {
    border-top: none;
    padding-top: 0;
    border-bottom: 1px solid#0065fc;
    padding-bottom: 17px;
  }
  .liengris {
    width: 100%;
  }
  .LienGris {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
  h1 {
    margin-top: 100px;
  }
  .BarreRecherche {
    display: flex;
    width: 90%;
  }
  .BarreRecherche input {
    position: sticky;
    width: 100%;
  }

  .Loupe {
    color: #fcfdfd;
    background-color: #0065fc;
    border: #0065fc solid 1px;
    border-radius: 15px 15px 15px 15px;
    padding: 15px 17px 15px 17px;
    position: inherit;
    z-index: 3;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  .fa-solid.fa-magnifying-glass {
    color: white;
  }
  .BarreRecherche .IconLocalisation {
    position: absolute;
    right: inherit;
  }

  header {
    height: 75px;
    padding-bottom: 35px;
  }

  .GroupeInfos {
    padding: 0px 20px 0px 20px;
  }

  .Filtre {
    height: 33px;
    padding: 13px 15px 1px 19px;
    width: 120px;
    font-size: 15px;
  }

  .filtre {
    margin: auto;
  }
  .filtres {
    width: 60%;
  }
  .ContainerUn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }

  .G {
    height: 33px;
  }
  .G.Titre {
    margin-bottom: 5px;
  }

  .BarreRecherche input {
    width: 100%;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .hebergements-and-populaires .hebergements {
    background-color: white;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
    padding: 20px;
  }

  .populaires-cards .card {
    margin-top: 15px;
  }

  .populaires {
    padding: 30px 20px 30px 20px;
    gap: 15px;
  }

  .hebergements {
    padding: 20px;
    gap: 15px;
    margin-top: 0px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 100%;
  }

  .hebergement-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding-top: 15px;
  }

  .hebergement-cards .card {
    margin: 0px;
  }

  .hebergement-cards a {
    width: 100%;
    gap: 15px;
  }
  .Activités h2 {
    padding-left: 20px;
  }

  .Activités-cards {
    display: flex;
    width: 100%;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
  }

  .Activités-cards .card {
    width: 100%;
    height: 200px;
  }

  .Activités img {
    height: 141px;
  }

  .Activités-cards .card {
    height: 200px;
  }
  .cardactivité {
    width: 90%;
    height: auto;
  }
  .Activités {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  button.Rechercher {
    display: none;
  }
  .boxliens {
    margin-bottom: 20px;
  }

  .liens {
    width: 100%;
    height: 36px;
    margin-bottom: 44px;
    border-bottom: #f2f2f2 2px solid;
  }

  .container-footer .row {
    margin-top: 555px;
    flex-direction: column;
    width: 100%;
  }

  .footer-col {
    width: 80%;
  }
  form {
    position: relative;
    right: 0;
  }
  .AfficherPlus {
    padding-left: 5px;
  }
  img.Cathedrale {
    background-size: cover;
    background-position: center;


  }

  /* ... */
}
